@using HaveshApp.Admin.MemberShip.Model
@using HaveshApp.Services
<h3>PermissionDialog</h3>
<MudDialog>
    <DialogContent>
        <MudTextField @bind-Value="Permission.Title" Label="Permission Title"/>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Success" StartIcon="@Icons.Filled.Save" Variant="Variant.Text" OnClick="SaveClick">
            Save
        </MudButton>

        <MudButton Color="Color.Warning" StartIcon="@Icons.Filled.Close" Variant="Variant.Text" OnClick="CloseClick">
            Close
        </MudButton>

    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    public MudDialogInstance DialogInstance { get; set; }

    [Parameter]public Permission Permission{ get; set; }

    [Inject]
    DataProviderService ProviderService { get; set; }


    
    private void CloseClick()
    {
        DialogInstance.Close();
    }

    private void SaveClick()
    {
        ProviderService.SavePermission(Permission);
        DialogInstance.Close();
    }

}
