@page "/BasicSetting"
@layout PersianPagesLayout

<h3>Basic Setting Page</h3>
<MudGrid>
    <MudPaper Class="col-12" Outlined="true">
        <MudItem>
            <MudText Typo="Typo.caption" Color="Color.Default" GutterBottom="true">
                Basic Setting
            </MudText>

        </MudItem>

    </MudPaper>

</MudGrid>
@code {

}
