@page "/TermDefinition"
@using HaveshApp.Admin.Clone
@using Havesh.Model.Model
@layout PersianPagesLayout
<h3>تعریف ترم</h3>

<TermSelectorComponent YearOnly="true"  Year="Year" ></TermSelectorComponent>

@code {

    public ShokouhPardisYearClass Year { get; set; }
    
}
