@page "/AttachmentTestPage"
@using HaveshApp.Model

<AttachmentComponent Folder="123" @bind-Attachment="Att"></AttachmentComponent>

<h3>AttachmentTestPage</h3>

@if (Att is { })
{
    <MudText Typo="Typo.caption">
        @Att.FileName
    </MudText>
    <MudText Typo="Typo.caption">
        <MudImage Src="@Att.DataUrl" Width="200"></MudImage>
    </MudText>

}


@code {

    public ShokouhPardisFileAttachment? Att { get; set; }

}
